

#main-header {
  background: #333;
  width: 100%;
}

body {
  margin: 10px;
  padding: 0;
  text-align: center;
}

.contenedor {
     display: flex;
     justify-content: space-evenly;
     
   }

#div1 {
  padding: 4px;
}

#div2 {
  padding: 4px;
}

h1 {
  color: #fafaf9;
  text-align: center;
  font-size: 35px;
  font-family: Helvetica roman;
}


h2 {
  color: #3d4a52;
  text-align: center;
  font-size: 22px;
  font-family: helvetica roman;
}

h3 {
  color: #585858;
  text-align: center;
  font-size: 23px;
  font-family: helvetica;
}

button {
  outline: 0;
  border-radius: 3px;
  width: 200px;
  cursor: pointer;
  transition-duration: 0.25s;
  font-weight: 600;
  font-size: 20px;
  padding-top:15px;
  padding-bottom:15px;
  padding-left:40px;
  padding-right:40px;
  background-color:#FFD27D;
  border-color: #6b6969;
  border-width: 3px;
  border-style: solid;
  border-radius:35px;
  margin: 10px;
  }

#main-footer{
    color: #bebbbb;
    text-align: center;
    font-size: 12px;
    font-family: helvetica;
    position: relative;
    padding: 10px;
}
