#main-header {
  background: #3498db;
  width: 100%;
}

body {
  margin: 10px;
  padding: 0;
  text-align: center;
   background-image: url();
   background-position: center center;
   background-repeat: no-repeat;
   /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
   background-attachment: fixed;
   /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
   background-size: cover;
   background-color: none;
}

.contenedor {
     justify-content: space-evenly;
   }

#seccionCif {
  display: none;
  padding: 4px;
}

#seccionDescif {
  display: none;
  padding: 4px;
}

h1 {
  color: #fafaf9;
  text-align: center;
  font-size: 24px;
}


h2 {
  color: white;
  text-align: center;
}

h3 {
  color:white;
  text-align: center;
}

button {
  margin: 16px;
}

#main-footer{
    color: #bebbbb;
    text-align: center;
    position: relative;
    padding: 50px;
}

.message-body {
  color: white;
  text-align: center;
  position: relative;
  padding: 10px;
  background: white
}